<app-toolbar-farm></app-toolbar-farm>
<div class="container">
  <h1 class="title">Statistics</h1>
  <div class="statistics-grid">
    <a routerLink="/tasks/finished">
      <div class="card tasks">
        <h2 class="subtitle">Task completed in record time</h2>
        <p class="task-count">44 TASKS</p>
        <div class="progress-bar">
          <div class="progress" style="width: 68%;"></div>
        </div>
        <p class="pending-tasks">Pending tasks: 20</p>
      </div>
    </a>
    <div class="card financial">
      <h2 class="subtitle">Financial Statistics</h2>
      <a routerLink="/financial-stats">
        <img src="../assets/income.png" alt="Financial" class="card-image">
      </a>
    </div>
  </div>
</div>
