<app-toolbar-farm/>
<div class="main-container">
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav mode="side" opened>
      <mat-nav-list>
        <mat-toolbar>Shed</mat-toolbar>
        <a mat-list-item routerLink="/monitoring/add-sheds">ADD SHED</a>
        <a mat-list-item routerLink="/monitoring/list-sheds">LIST SHEDS</a>
        <mat-divider></mat-divider>
        <mat-toolbar>Animals</mat-toolbar>
        <a mat-list-item routerLink="/monitoring/add-animals">ADD ANIMALS</a>
        <a mat-list-item routerLink="/monitoring/animal-inventory">ANIMAL INVENTORY</a>
        <mat-toolbar>Crops</mat-toolbar>
        <a mat-list-item routerLink="/monitoring/cultivation-record">CULTIVATION RECORD</a>
        <a mat-list-item routerLink="/monitoring/crop-inventory">CROP INVENTORY</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="content-container">
        <form class="form-container" #form="ngForm" (ngSubmit)="saveAnimal()">
          <div class="title-container">
            <h2 class="title-add">ADD ANIMALS</h2>
          </div>
          <div class="form-group">
            <label>Shed</label>
            <select class="form-field" required [(ngModel)]="animal.shed" ngModel #shed="ngModel" name="shed">
              <option *ngFor="let shed of sheds" [value]="shed.shedName">{{ shed.shedName }}</option>
            </select>

          </div>
          <div class="form-group">
            <label>Age</label>
            <input type="text" class="form-field" required [(ngModel)]="animal.age" ngModel #age="ngModel" name="age">
          </div>
          <div class="form-group">
            <label>Location</label>
            <input type="text" class="form-field" required [(ngModel)]="animal.location" ngModel #location="ngModel" name="location">
          </div>
          <div class="form-group">
            <label>Health Status</label>
            <select class="form-field" required [(ngModel)]="animal.healthCondition" ngModel #healthCondition="ngModel" name="health_condition">
              <option value="Healthy" selected>Healthy</option>
              <option value="Sick">Sick</option>
              <option value="Recovering">Recovering</option>
            </select>
          </div>
          <div class="button-container">
            <button type="submit">Save</button>
          </div>
        </form>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
