<div class="container-general">
  <h2>Duration</h2>
  <p>The longer the duration, the more people will see the ad</p>
  <mat-card *ngIf="cardToShow === '2'">

    <p class="mat-card-title">3 months</p>
    <p class="sub-header">with a single payment of</p>
    <p class="price">S/130</p>
  </mat-card>
  <mat-card *ngIf="cardToShow === '1'">
    <p class="mat-card-title">Manage and highlight your farm
    </p>
    <p class="sub-header">with a single payment of</p>
    <p class="price">S/250</p>
  </mat-card>
  <app-payment-card></app-payment-card>

  <button mat-raised-button class="choose-plan-btn" (click)="openSnackBar()">Pay</button>

</div>
