  <header id="header">
    <div class="logo">
      <a><img class="img" src="assets/img-logo.png" alt="logo"></a>
      <p>FarmLogiTech</p>
    </div>
    <nav id="menu">
      <ul>
        <li><a href="/home">Inicio</a></li>
        <li><a [routerLink]="['/subscriptions/card']" (click)="scrollToTop()" >Tarifas</a></li>
        <li><button class="choose-plan-btn"  [routerLink]="['/register']" ><a >Publica tu anuncio</a></button></li>
        <li><a [routerLink]="['/tasks']" >Colaborador</a></li>
        <li><a [routerLink]="['/login']">Ingresar</a></li>
      </ul>
    </nav>
  </header>
