.footer {
  background-color: #276749;
  position: absolute;
  bottom: 0px;
  width: 100%;
  padding-top: 10px;
  text-align: center;
  padding-bottom: 2rem;
  margin-top: auto;
}


.text {
  color: white;
  font-size: 22px;
  gap: 8px;
}

.icon-instagram{
  background-color: white;
}

.social-icons a {
  margin-right: 1rem;
  color: white;
  width: 200px;
}





.footer .text {
  color: white;
  font-size: 22px;
  font-family: Arial, sans-serif; /* Agrega esta línea para especificar la fuente */
  gap: 8px;
}
