<app-toolbar-farm></app-toolbar-farm>
<div class="container">
  <h1 class="title">{{ 'emergency-form.title' | translate }}</h1>
  <form id="emergency-form" (ngSubmit)="onSubmit(form)" #form="ngForm">
    <div class="form-group">
      <label for="collaboratorId">{{ 'emergency-form.chooseRecipient' | translate }}</label>
      <select id="collaboratorId" name="collaboratorId" [(ngModel)]="collaboratorId" required>
        <ng-container *ngIf="userRole === 'ROLE_FARMER'">
          <option *ngFor="let user of employees" [value]="user.id">{{ user.name }}</option>
        </ng-container>
        <ng-container *ngIf="userRole === 'ROLE_FARMWORKER'">

        <option *ngIf="farmer" [value]="farmer.id">{{ farmer.username }}</option>
        </ng-container>


      </select>
    </div>
    <div class="form-group">
      <label for="description">{{ 'emergency-form.description' | translate }}</label>
      <textarea id="description" name="description" [(ngModel)]="description" rows="4" required></textarea>
    </div>
    <div class="form-buttons">
      <button type="submit" class="btn btn-submit">{{ 'emergency-form.sendButton' | translate }}</button>
      <button type="button" class="btn btn-cancel" (click)="form.resetForm()">{{ 'emergency-form.cancelButton' | translate }}</button>
    </div>
  </form>
  <h2 class="history-title">{{ 'emergency-form.historyTitle' | translate }}</h2>
  <table class="history-table">
    <thead>
    <tr>
      <th>{{ 'emergency-form.sender' | translate }}</th>
      <th>{{ 'emergency-form.message' | translate }}</th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngIf="userRole === 'ROLE_FARMER'">
      <tr *ngFor="let message of userMessages">
        <td>{{ getEmployeeNameById(message.collaboratorId) }}</td>
        <td>{{ message.description }}</td>
      </tr>
    </ng-container>
    <ng-container *ngIf="userRole === 'ROLE_FARMWORKER'">

    <tr *ngFor="let message of userMessages">
      <td>{{ getEmployeeNameById(message.farmerId) }}</td>
      <td>{{ message.description }}</td>

    </tr>
    </ng-container>

    </tbody>
  </table>
</div>
