<body class="fondo">
<div class="image-logo">
  <img src="assets/img-logo.png" alt="Logo" class="register-logo">
</div>
<strong class="name-flt">FarmLogiTech</strong>
<mat-card class="example-card">
  <mat-card-content>
    <form>
      <form class="example-full-width">
        <p class="title-register">{{ 'register.title' | translate }}</p>
        <label>{{ 'register.emailLabel' | translate }}</label>
        <input matInput [placeholder]="'register.emailPlaceholder' | translate" required class="input-register">
      </form>

      <form class="example-full-width">
        <label>{{ 'register.passwordLabel' | translate }}</label>
        <input matInput [placeholder]="'register.passwordPlaceholder' | translate" type="password" required class="input-register">
      </form>

      <form class="example-full-width">
        <label>{{ 'register.confirmPasswordLabel' | translate }}</label>
        <input matInput [placeholder]="'register.confirmPasswordPlaceholder' | translate" type="password" required class="input-register">
      </form>

      <div class="remember-me">
        <mat-checkbox>{{ 'register.rememberMe' | translate }}</mat-checkbox>
      </div>

      <button mat-button type="submit" class="register-button" [routerLink]="['/create-profile']">{{ 'register.registerButton' | translate }}</button>
    </form>
    <p class="ya-tengo-cuenta">{{ 'register.alreadyHaveAccount' | translate }} <a href="/subscription" class="ingresa-aqui">{{ 'register.loginHere' | translate }}</a></p>
  </mat-card-content>
</mat-card>
</body>
