html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: absolute;
}

.section-search, .container {
  flex: 1;
}

.footer {
  background-color: #276749;
  bottom: 0;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 2rem;
  text-align: center;
  margin-top: 2rem; /* Añade espacio entre el contenido y el footer */
}

.footer .text {
  color: white;
  font-size: 22px;
  font-family: Arial, sans-serif;
  gap: 8px;
}

.icon-instagram {
  background-color: white;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.social-icons a {
  margin-right: 1rem;
  color: white;
  width: 200px;
}

.footer .text p {
  margin: 0;
  font-size: 14px;
}
