h1{
  color: darkgreen;
  font-size: 50px; /* Ajusta el tamaño del texto */
  font-weight: bold; /* Ajusta el peso de la fuente a negrita */
  text-align: center; /* Centra el texto horizontalmente */
  margin-bottom:0; /* Ajusta el margen inferior para separar el título del contenedor de tarjetas */
  margin-top: 80px;
}

.basic-form {
  max-width: 700px;
  margin: 50px auto; /* Centra horizontalmente y agrega un margen superior de 50px */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;

}


.form-group {

  margin-bottom: 20px;
  padding-right: 20px;

}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 80%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  background-color: darkgreen;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 20px;
}

button:hover {
  background-color: darkslategrey;
}

/*using display grid for the columns*/
.information-container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
}

.Documents-btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: fit-content;
  height: 45px;
  border: none;
  padding: 0px 15px;
  border-radius: 10px;
  background-color: rgba(122, 203, 163, 0.9);
  gap: 10px;
  cursor: pointer;
  transition: all 0.3s;
  margin-top:20px;
}
.folderContainer {
  width: 40px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}
.fileBack {
  z-index: 1;
  width: 80%;
  height: auto;
}
.filePage {
  width: 50%;
  height: auto;
  position: absolute;
  z-index: 2;
  transition: all 0.3s ease-out;
}
.fileFront {
  width: 85%;
  height: auto;
  position: absolute;
  z-index: 3;
  opacity: 0.95;
  transform-origin: bottom;
  transition: all 0.3s ease-out;
}
.text {
  color: white;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-top:10px;
}
.Documents-btn:hover .filePage {
  transform: translateY(-5px);
}
.Documents-btn:hover {
  background-color: rgba(87, 213, 170, 0.61);
}
.Documents-btn:active {
  transform: scale(0.95);
}
.Documents-btn:hover .fileFront {
  transform: rotateX(30deg);
}

