<div class="container">

  <h1 class="title">Choose how long you want
    to publish your farm</h1>
  <h2 class="title">Choose a plan</h2>

  <div class="cards-container">

    <mat-card class="subscription-card">
      <mat-card-header>
        <mat-card-title>Manage and highlight your farm</mat-card-title>
      </mat-card-header>
      <p class="sub-header">with a single payment of</p>
      <mat-card-content>
        <p class="price">S/250 <span class="mes">/month</span></p>

        <button mat-raised-button class="choose-plan-btn" [routerLink]="['/subscriptions','1']" (click)="scrollToTop()">Choose Plan</button>
        <mat-card-actions class="specifications-list">
          <ul>
            <li>Notifications and mobile access</li>
            <li>Highlighted notice</li>
            <li>Detailed visualization of farm information</li>
            <li>Task assignment to collaborators</li>
            <li>Many more features</li>
          </ul>
        </mat-card-actions>
      </mat-card-content>
    </mat-card>

    <mat-card class="subscription-card-2">
      <mat-card-header>
        <mat-card-title>3 months</mat-card-title>
      </mat-card-header>
      <p class="sub-header">with a single payment of</p>
      <mat-card-content>
        <p class="price">S/130</p>

        <button mat-raised-button class="choose-plan-btn" [routerLink]="['/subscriptions','2'] " (click)="scrollToTop()">Choose Plan</button>


        <mat-card-actions class="specifications-list">
          <ul>
            <li>Up to 15 high quality photos</li>
            <li>Payment with Plin/Yape or Card</li>
            <li>YouTube video</li>
            <li>Prospectus sent by mail</li>
          </ul>
        </mat-card-actions>
      </mat-card-content>
    </mat-card>
  </div>

</div>
