body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  color: #333;
  margin: 0;
  padding: 0;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background-color: #4a4a4a;
  color: white;
}
.statistics {
  margin: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.statistics h2 {
  margin-top: 0;
}

.statistics p {
  margin: 5px 0;
  font-size: 16px;
  font-weight: bold;
}

.toolbar-button {
  margin-left: 16px;
  color: white;
}

.split-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  flex-wrap: wrap;
}

.left-section, .right-section {
  flex: 1;
  margin: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.left-section {
  margin-right: 10px;
}

.right-section {
  margin-left: 10px;
}

.container-form, .container-table {
  padding: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

.form-group input, .form-group select {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group button {
  width: 100%;
  padding: 12px 18px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.form-group button:hover {
  background-color:#2b7531;
}

.summary-title, .title-history {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 16px;
  text-align: center;
  color: #015901;
}

.container-table table {
  width: 100%;
  border-collapse: collapse;
}

.container-table th, .container-table td {
  padding: 12px;
  font-size: 16px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.container-table th {
  background-color: #f9f9f9;
  font-weight: bold;
}

.container-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.dashboard {
  padding: 20px;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 20px auto 40px auto; /* Agrega espacio debajo */
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

.container form div {
  flex: 1 1 30%;
  margin-bottom: 15px;
}

.container form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

.container form select, .container form input {
  width: 90%;
  padding: 10px;
  font-size: 14px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 16px;
  text-align: center;
  color: #015901;
}

.container form button {
  padding: 10px 100px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin: auto;
  display: block;
}

.container form button:hover {
  background-color: #26862c;
}

.container table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.container table th, .container table td {
  padding: 10px;
  font-size: 14px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.container table th {
  background-color: #f9f9f9;
  font-weight: bold;
}

.container table tr:nth-child(even) {
  background-color: #f2f2f2;
}

@media screen and (max-width: 768px) {
  .split-container {
    flex-direction: column;
  }

  .left-section, .right-section {
    width: 100%;
    margin: 10px 0;
  }

  .container form div {
    flex: 1 1 100%;
  }

  .container form {
    flex-direction: column;
  }

  .container form button {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .form-group input, .form-group select, .container form select, .container form input {
    width: 100%;
  }

  .container form div {
    width: 100%;
    margin-bottom: 10px;
  }

  .container form button {
    width: 100%;
    padding: 10px;
  }
}
