<app-toolbar-farm/>
<div class="main-container">
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav mode="side" opened>
      <mat-nav-list>
        <mat-toolbar>Shed</mat-toolbar>
        <a mat-list-item routerLink="/monitoring/add-sheds">Add Sheds</a>
        <a mat-list-item routerLink="/monitoring/list-sheds">List Sheds</a>
        <mat-divider></mat-divider>
        <mat-toolbar>Animals</mat-toolbar>
        <a mat-list-item routerLink="/monitoring/add-animals">Add Animals</a>
        <a mat-list-item routerLink="/monitoring/animal-inventory">Animal Inventory</a>
        <a mat-list-item routerLink="/monitoring/feeding-record">Feeding Record</a>
        <mat-toolbar>Crops</mat-toolbar>
        <a mat-list-item routerLink="/monitoring/cultivation-record">Cultivation Record</a>
        <a mat-list-item routerLink="/monitoring/crop-inventory">Crop Inventory</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="content-container">
        <div class="form-container">
          <div class="title-container">
            <h2>Registro de alimentación</h2>
          </div>
          <div class="form-group">
            <label>Galpón</label>
            <select class="form-field" required>
              <option value="">Galpón 1</option>
              <option value="">Galpón 2</option>
              <option value="">Galpón 3</option>
            </select>
          </div>
          <div class="form-group">
            <label>Fecha</label>
            <input type="date" class="form-field" required>
          </div>
          <div class="form-group">
            <label>Tipo de Alimento</label>
            <input type="text" class="form-field" required>
          </div>
          <div class="form-group">
            <label>Cantidad de Alimento</label>
            <input type="number" class="form-field" required>
          </div>
          <div class="button-container">
            <button type="submit">Guardar</button>
          </div>
          <div class="table-container">
            <table>
              <thead>
              <tr>
                <th>ID</th>
                <th>Galpón</th>
                <th>Fecha</th>
                <th>Tipo de Alimento</th>
                <th>Cantidad de Alimento</th>
              </tr>
              </thead>
              <tbody>
              <!-- Aquí irían las filas de datos del historial -->
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
