<app-toolbar-farm></app-toolbar-farm>
<div class="form-container">
  <h1>TASK</h1>
  <div class="login-box">
    <form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
      <label>Employee:</label>
      <div class="user-box">
        <select formControlName="employee" required>
          <option *ngFor="let employee of employees" [value]="employee.name">{{employee.name}}</option>
        </select>
      </div>
      <label>Date:</label>
      <div class="user-box">
        <input type="date" formControlName="date" required>
      </div>
      <label>Time to perform:</label>
      <div class="user-box">
        <select formControlName="time" required>
          <option *ngFor="let i of [].constructor(24); let n = index" [value]="n+1">{{n+1}}</option>
        </select>
      </div>
      <label>Description:</label>
      <div class="user-box">
        <input type="text" formControlName="description" required>
      </div>
      <button type="submit" class="button-save">Save</button>
      <button type="button" [routerLink]="['/tasks']" class="button-save">Cancel</button>
    </form>
  </div>
</div>
