
<app-toolbar-colaborator-component></app-toolbar-colaborator-component>
<mat-sidenav-container class="sidenav-container">

  <mat-sidenav mode="side" opened>
    <mat-toolbar>Shed</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">Add Shed</a>
      <a mat-list-item href="#">List Sheds</a>
      <mat-divider></mat-divider>
      <mat-toolbar>Animals</mat-toolbar>
      <a mat-list-item href="#">Animal Inventory</a>
      <a mat-list-item href="#">Feeding Record</a>
      <mat-toolbar>Crops</mat-toolbar>
      <a mat-list-item href="#">Crop Record</a>
      <a mat-list-item href="#">Crop Inventory</a>
      <mat-toolbar>Finanzas</mat-toolbar>
      <a mat-list-item href="#">Crop Record</a>
      <a mat-list-item href="#">Crop Inventory</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>

    <div class="input-container">
      <div class="title-container">
        <h2>ADD SHED</h2>
      </div>

      <label>Type</label>
      <select class="form-field" required>
        <option value=""  selected>xd</option>
        <option value=""  selected>añaña</option>

        <!-- Agrega tus opciones aquí -->
      </select>
      <label>Specie</label>
      <select class="form-field" required>
        <option value=""  selected></option>
        <!-- Agrega tus opciones aquí -->
      </select>
      <div class="button-container">
        <button type="submit">Agregar</button>
        <p class="cancel-button" >Cancelar</p>      </div>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>
