<app-toolbar-farm> </app-toolbar-farm>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" opened>
    <mat-toolbar>{{ 'shedForm.shedTitle' | translate }}</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">{{ 'shedForm.addShed' | translate }}</a>
      <a mat-list-item href="#">{{ 'shedForm.listSheds' | translate }}</a>
      <mat-divider></mat-divider>
      <mat-toolbar>{{ 'shedForm.animalsTitle' | translate }}</mat-toolbar>
      <a mat-list-item href="#">{{ 'shedForm.animalInventory' | translate }}</a>
      <a mat-list-item href="#">{{ 'shedForm.feedingRecord' | translate }}</a>
      <mat-toolbar>{{ 'shedForm.cropsTitle' | translate }}</mat-toolbar>
      <a mat-list-item href="#">{{ 'shedForm.cropRecord' | translate }}</a>
      <a mat-list-item href="#">{{ 'shedForm.cropInventory' | translate }}</a>
      <mat-toolbar>{{ 'shedForm.financesTitle' | translate }}</mat-toolbar>
      <a mat-list-item href="#">{{ 'shedForm.cropRecord' | translate }}</a>
      <a mat-list-item href="#">{{ 'shedForm.cropInventory' | translate }}</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="input-container">
      <div class="title-container">
        <h2>{{ 'shedForm.addShedTitle' | translate }}</h2>
      </div>

      <label>{{ 'shedForm.typeLabel' | translate }}</label>
      <select class="form-field" required>
        <option value="" selected>{{ 'shedForm.selectOption' | translate }}</option>
      </select>
      <label>{{ 'shedForm.speciesLabel' | translate }}</label>
      <select class="form-field" required>
        <option value="" selected>{{ 'shedForm.selectOption' | translate }}</option>
      </select>
      <div class="button-container">
        <button type="submit">{{ 'shedForm.addButton' | translate }}</button>
        <p class="cancel-button">{{ 'shedForm.cancelButton' | translate }}</p>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
