<header id="header">
  <div class="logo">
    <a href="/home"><img class="img" src="assets/img-logo.png" alt="logo"></a>
    <p>FarmLogiTech</p>
<!--    i18n-->
    <span class="spacer"></span>
    <span> <app-language-switcher></app-language-switcher> </span>
  </div>
  <button class="hamburger" (click)="toggleMenu()">☰</button>
  <nav id="menu" [class.active]="menuActive">
    <!-- Toolbar for 'Business Owner' -->
    <ul *ngIf="currentRole === 'ROLE_OWNER'">
      <li><a routerLink="/home">{{ 'toolbar.home' | translate }}</a></li>
      <li><a [routerLink]="['/role-profile', currentRole]">{{ 'toolbar.profile' | translate }}</a></li>
      <li><a (click)="logout()">{{ 'toolbar.logout' | translate }}</a></li>
    </ul>

    <!-- Toolbar for 'Farm Worker' -->
    <ul *ngIf="currentRole === 'ROLE_FARMWORKER'">
      <li><button class="choose-plan-btn" routerLink="/detailed-monitoring" (click)="scrollToTop()">{{ 'toolbar.detailed-monitoring' | translate }}</button></li>
      <li><a [routerLink]="['/role-profile', currentRole]">{{ 'toolbar.profile' | translate }}</a></li>
      <li><a (click)="logout()">{{ 'toolbar.logout' | translate }}</a></li>
    </ul>

    <!-- Toolbar for 'Farmer' -->
    <ul *ngIf="currentRole === 'ROLE_FARMER'">
      <li><a routerLink="/home">{{ 'toolbar.home' | translate }}</a></li>
      <li><a routerLink="/monitoring-farmer">{{ 'toolbar.monitoring' | translate }}</a></li>
      <li><button class="choose-plan-btn" routerLink="/profile-farm">{{ 'toolbar.post' | translate }}</button></li>
      <li><a [routerLink]="['/role-profile', currentRole]">{{ 'toolbar.profile' | translate }}</a></li>
      <li><a (click)="logout()">{{ 'toolbar.logout' | translate }}</a></li>
    </ul>

    <!-- Toolbar for 'Admin' -->
    <ul *ngIf="currentRole === 'Admin'">
      <li><a routerLink="/admin">Admin</a></li>
      <li><a [routerLink]="['/role-profile', currentRole]">{{ 'toolbar.profile' | translate }}</a></li>
      <li><a (click)="logout()">{{ 'toolbar.logout' | translate }}</a></li>
    </ul>

    <!-- Toolbar for 'Public' -->
    <ul *ngIf="!isSignedIn">
      <li><a routerLink="/home">{{ 'toolbar.home' | translate }}</a></li>
      <li><button class="choose-plan-btn" routerLink="/login">{{ 'toolbar.post' | translate }}</button></li>
      <li><a routerLink="/login">{{ 'toolbar.sign-in' | translate }}</a></li>
    </ul>
  </nav>
</header>
