<app-toolbar></app-toolbar>

<h1 class="reg-empl-tittle">Add Employee</h1>

<div class="container-register-employee">
  <form>

    <div class="double-input-regempl">
      <div class="input-register-employee">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" class="form-control-register-employee">
      </div>

      <div class="input-register-employee">
        <label for="lastName">Last Name:</label>
        <input type="text" id="lastName" name="lastName" class="form-control-register-employee">
      </div>
    </div>

    <div class="double-input-regempl">
      <div class="input-register-employee">
        <label for="gender">Gender:</label>
        <input type="text" id="gender" name="gender" class="form-control-register-employee">
      </div>

      <div class="input-register-employee">
        <label for="dni">DNI:</label>
        <input type="text" id="dni" name="dni" class="form-control-register-employee">
      </div>
    </div>

    <div class="one-input-regempl">
      <div class="input-register-employee">
        <label for="direction">Direction:</label>
        <input type="text" id="direction" name="direction" class="form-control-register-employee">
      </div>
    </div>


    <div class="double-input-regempl">
      <div class="input-register-employee">
        <label for="user">User:</label>
        <input type="text" id="user" name="user" class="form-control-register-employee">
      </div>

      <div class="input-register-employee">
        <label for="password">Password:</label>
        <input type="text" id="password" name="password" class="form-control-register-employee">
      </div>
    </div>

    <div class="one-input-regempl">
      <div class="input-register-employee">
        <label for="job">Job:</label>
        <input type="text" id="job" name="job" class="form-control-register-employee">
      </div>
    </div>

  </form>
</div>

<app-footer></app-footer>
