<div class ="container">
  <h1>Puedes pagar con</h1>
  <div class="center-container">
    <div class="image-cards-container">
      <div class="image-card">
        <img src="../../../../assets/logo-yape.png" alt="Yape">
      </div>

      <div class="image-card">
        <img src="../../../../assets/logo-plin.png" alt="Plin">
      </div>

      <div class="image-card">
        <img src="../../../../assets/logo-mastercard.png" alt="Mastercard">
      </div>

      <div class="image-card">
        <img src="../../../../assets/logo-visa.png" alt="Visa">
      </div>
    </div>
  </div>

</div>
