.center-container {
  display: flex; /* Utiliza flexbox */
  justify-content: center; /* Centra horizontalmente el contenido */
  margin-top: 60px; /* Ajusta el margen superior para mover el contenedor hacia arriba */
  margin-bottom: 60px;
}

.image-cards-container {
  display: flex;
}

.image-card {
  height: 80px; /* Altura de cada tarjeta de imagen */
  margin: 10px; /* Espaciado entre las tarjetas */
  padding: 5px; /* Espaciado interno de la tarjeta */
  display: flex; /* Utiliza flexbox para centrar la imagen */
  justify-content: center; /* Centra la imagen horizontalmente */
}

.image-card img {
  max-width: 100%; /* Ajusta el tamaño máximo de la imagen al 100% de la tarjeta */
  max-height: 100%; /* Ajusta el tamaño máximo de la imagen al 100% de la tarjeta */
}
/* Agrega un efecto de escala al pasar el cursor sobre las imágenes */
.image-card img:hover {
  transform: scale(1.1); /* Aumenta el tamaño de la imagen al 110% */
  transition: transform 0.3s ease; /* Agrega una transición suave al efecto */
}
h1{
  font-size: 30px; /* Ajusta el tamaño del texto */
  margin-top: 60px; /* Ajusta el margen superior para separar el título de las tarjetas */
  font-weight: normal; /* Ajusta el peso de la fuente a negrita */
  text-align: center; /* Centra el texto horizontalmente */
}
