<app-toolbar-farm></app-toolbar-farm>
<h1 class="title-h1">{{ 'weather.title' | translate }}</h1>
<div class="weather-cards">
  <div *ngFor="let weather of weathers" class="weather-card">
    <h3>{{ weather.day }}</h3>
    <p>{{ weather.date }}</p>
    <p>{{ weather.degree }}°</p>
    <img *ngIf="weather.image === 'rainy.png'" src="assets/rainy.png" [alt]="'weather.rainy' | translate" style="width: 150px; height: auto;">
    <img *ngIf="weather.image === 'cloudy.png'" src="assets/cloudy.png" [alt]="'weather.cloudy' | translate" style="width: 150px; height: auto;">
    <img *ngIf="weather.image === 'mcloudy.png'" src="assets/mcloudy.png" [alt]="'weather.mostlyCloudy' | translate" style="width: 150px; height: auto;">
    <img *ngIf="weather.image === 'clear.png'" src="assets/clear.png" [alt]="'weather.clear' | translate" style="width: 150px; height: auto;">
  </div>
</div>
