
.mat-mdc-button:not(:disabled).boton-prueba{
  color: #44604D;
float:right;
}

h1{
  color: darkgreen;
  font-size: 50px; /* Ajusta el tamaño del texto */
  font-weight: bold; /* Ajusta el peso de la fuente a negrita */
  text-align: center; /* Centra el texto horizontalmente */
  margin-bottom:0px; /* Ajusta el margen inferior para separar el título del contenedor de tarjetas */

}
.boton-prueba {
  color: darkgreen; /* Texto en color blanco */
}
.task-create{
  margin-top: 80px;
  width: 60%;
  margin-left: 20%;
margin-bottom: 15%;
}
@media (max-width:768px){
  .button-container{
    display: flex;
    justify-content: center;
  }
  .table-container{
    display: flex;
    width: 100%;
    overflow: auto;
  }


}
