<app-toolbar-farm/>
<div class="main-container">
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav mode="side" opened>
      <mat-nav-list>
        <mat-toolbar>Shed</mat-toolbar>
        <a mat-list-item routerLink="/monitoring/add-sheds">ADD SHED</a>
        <a mat-list-item routerLink="/monitoring/list-sheds">LIST SHEDS</a>
        <mat-divider></mat-divider>
        <mat-toolbar>Animals</mat-toolbar>
        <a mat-list-item routerLink="/monitoring/add-animals">ADD ANIMALS</a>
        <a mat-list-item routerLink="/monitoring/animal-inventory">ANIMAL INVENTORY</a>
        <mat-toolbar>Crops</mat-toolbar>
        <a mat-list-item routerLink="/monitoring/cultivation-record">CULTIVATION RECORD</a>
        <a mat-list-item routerLink="/monitoring/crop-inventory">CROP INVENTORY</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="content-container">
        <div class="table-container">
          <div class="title-container">
            <h2 class="title-add">LIST OF CROPS</h2>
          </div>
          <div class="filter-container">
            <label>Shed</label>
            <select class="filter-field" [(ngModel)]="selectedShed" (ngModelChange)="filterCrops()">
              <option *ngFor="let shed of sheds" [value]="shed.shedName">{{ shed.shedName }}</option>
            </select>
          </div>
          <table>
            <thead>
            <tr>
              <th>ID</th>
              <th>Shed</th>
              <th>Type</th>
              <th>Sowing Date</th>
            </tr>
            </thead>
            <tbody *ngIf="!isLoading">
            <tr *ngFor="let crop of filteredCrops">
              <td>{{crop.id}}</td>
              <td>{{crop.shed}}</td>
              <td>{{crop.typeCrop}}</td>
              <td>{{crop.seedtime}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
