<!-- role-profile.component.html -->
<app-toolbar-farm [profile]="currentProfile"></app-toolbar-farm>

<div class="profile-card" *ngIf="currentProfile">
  <div class="profile-info-card">
    <div class="profile-image-container">
      <img *ngIf="currentProfile === '0'; else ownerRole" [src]="currentProfile.profileImage || 'assets/bussines-owner.png'" alt="Profile Image">
      <ng-template #ownerRole>
        <img *ngIf="currentProfile === '1'; else workerRole" [src]="currentProfile.profileImage || 'assets/bussines-owner.png'" alt="Profile Image">
      </ng-template>
      <ng-template #workerRole>
        <img [src]="currentProfile.profileImage || 'assets/bussines-owner.png'" alt="Profile Image">
      </ng-template>
      <i class="fas fa-edit edit-icon align-right" [routerLink]="['/edit-profile', currentProfile.id]"></i>
    </div>
    <div class="profile-name">
      <h1>{{ currentProfile.firstName }} {{ currentProfile.lastName }}</h1>
    </div>
    <div class="profile-info">
      <p><i class="fas fa-map-marker-alt"></i> {{ currentProfile.direction }}</p>
      <p><i class="fas fa-id-badge"></i> {{ currentProfile.documentType }}</p>
      <p><i class="fas fa-id-card"></i> {{ currentProfile.documentNumber }}</p>
      <p><i class="fas fa-envelope"></i> {{ currentProfile.email }}</p>
    </div>
  </div>
</div>
