@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css');
body {
  background-color: #f0f0f0;
}

.profile-card {
  position: relative;
  width: 60%;
  height:78%;
  margin-left:400px;
  margin-top: 10px;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('/assets/role-profile-background.jpg');
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.55);
}

.profile-card::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
}


.profile-info-card {
  position: relative;
  width: 40%;
  padding: 60px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(229, 30, 30, 0.55);
  font-size: 1.3em;
}

.profile-card img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  border: 3px solid black;
  margin-top: -30px;
  margin-left: 80px;
}

.profile-name {
  font-size: 1.8em;
  color: #333;
  margin-top: 70px;
}

.profile-info {
  font-size: 1.5em;
  color: #666;
  margin-bottom: 30px;
  text-align: center;
  display: flex;
}

.profile-info i.fas {
  width: 80px;
  text-align: center;
  font-size: .8em;
}

.profile-name i.fas {
  width: 60px;
  font-size: 1em;
  margin-left: 25px;
}
