<body class="fondo">
<div class="image-logo">
  <img src="assets/img-logo.png" alt="Logo" class="register-logo">

</div>
<strong class="name-flt">FarmLogiTech</strong>
<mat-card class="example-card">
  <mat-card-content>
    <form>
      <form class="example-full-width">
        <label>Correo electronico</label>
        <input matInput placeholder="Correo electrónico" required class="input-register">
      </form>

      <form class="example-full-width">
        <label>Contraseña</label>
        <input matInput placeholder="Contraseña" type="password" required class="input-register">
      </form>

      <div class="remember-me">
        <mat-checkbox>Recuérdame</mat-checkbox>
      </div>

      <button mat-button type="submit" class="login-button" [routerLink]="['/financial-stats']">Iniciar Sesion</button>
    </form>
    <p class="olvide-contrasena">Olvidaste tu contraseña</p>
  </mat-card-content>
</mat-card>
</body>

