<app-toolbar-farm/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
<div class="bodyLogin">

  <div class="container" [ngClass]="{'active': isActive, 'forgot-password-active': isForgotPasswordActive}">

    <div class="form-container sign-up">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <img src="assets/img-logo.png" alt="logo">
        <h1>Create Account</h1>
        <div class="wrapper">
          <div class="icon google">
            <a href="https://accounts.google.com/ServiceLogin"><i class="fa-brands fa-google-plus-g"></i></a>
          </div>
          <div class="icon facebook">
            <a href="https://www.facebook.com/login.php"><i class="fa-brands fa-facebook-f"></i></a>
          </div>
          <div class="icon github">
            <a href="https://github.com/login"><i class="fa-brands fa-github"></i></a>
          </div>
        </div>
        <span>or use your email for registration</span>
        <input formControlName="username" type="text" placeholder="Username" required>
        <input formControlName="password" type="password" placeholder="Password" required>

        <button class="button" type="submit" >          Sign Up
          <svg fill="currentColor" viewBox="0 0 24 24" class="icon">
            <path
              clip-rule="evenodd"
              d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zm4.28 10.28a.75.75 0 000-1.06l-3-3a.75.75 0 10-1.06 1.06l1.72 1.72H8.25a.75.75 0 000 1.5h5.69l-1.72 1.72a.75.75 0 101.06 1.06l3-3z"
              fill-rule="evenodd"
            ></path>
          </svg>
        </button>
      </form>
    </div>

    <div class="form-container sign-in">
      <form [formGroup]="form" (ngSubmit)="onSignIn()">
        <img src="assets/img-logo.png" alt="logo">
        <h1>Sign In</h1>
        <div class="wrapper">
          <div class="icon google">
            <a href="https://accounts.google.com/ServiceLogin"><i class="fa-brands fa-google-plus-g"></i></a>
          </div>
          <div class="icon facebook">
            <a href="https://www.facebook.com/login.php"><i class="fa-brands fa-facebook-f"></i></a>
          </div>
          <div class="icon github">
            <a href="https://github.com/login"><i class="fa-brands fa-github"></i></a>
          </div>
        </div>
        <span>or use your email password</span>
        <input formControlName="username" type="text" placeholder="Username" required>
        <input formControlName="password" type="password" placeholder="Password" required>
        <a (click)="toggleForgotPassword()">Forgot Password?</a>
        <button class="button" type="submit" [disabled]="!isSignedIn">
          Sign In
          <svg fill="currentColor" viewBox="0 0 24 24" class="icon">
            <path
              clip-rule="evenodd"
              d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385
               2.25 12 2.25zm4.28 10.28a.75.75 0 000-1.06l-3-3a.75.75 0 10-1.06 1.06l1.72 1.72H8.25a.75.75 0 000 1.5h5.69l-1.72 1.72a.75.75 0 101.06 1.06l3-3z"
              fill-rule="evenodd"
            ></path>
          </svg>
        </button>
      </form>
    </div>

    <div class="form-container forgot-password forgot-password-container">
      <form>
        <img src="assets/img-logo.png" alt="logo">
        <h1>Forgot Password</h1>
        <input type="email" placeholder="Email" required>
        <button class="button" type="button">
          Reset Password
          <svg fill="currentColor" viewBox="0 0 24 24" class="icon">
            <path
              clip-rule="evenodd"
              d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zm4.28 10.28a.75.75 0 000-1.06l-3-3a.75.75 0 10-1.06 1.06l1.72 1.72H8.25a.75.75 0 000 1.5h5.69l-1.72 1.72a.75.75 0 101.06 1.06l3-3z"
              fill-rule="evenodd"
            ></path>
          </svg>
        </button>
        <button class="button" type="button" (click)="backToSignIn()">
          Back to Sign In
          <svg fill="currentColor" viewBox="0 0 24 24" class="icon">
            <path
              clip-rule="evenodd"
              d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zm4.28 10.28a.75.75 0 000-1.06l-3-3a.75.75 0 10-1.06 1.06l1.72 1.72H8.25a.75.75 0 000 1.5h5.69l-1.72 1.72a.75.75 0 101.06 1.06l3-3z"
              fill-rule="evenodd"
            ></path>
          </svg>
        </button>
      </form>
    </div>

    <div class="toggle-container">
      <div class="toggle">
        <div class="toggle-panel toggle-left">
          <h1>Welcome Back!</h1>
          <p>Enter your personal details to use all of site features</p>
          <button class="button" type="button" (click)="toggleActive()">
            <svg fill="currentColor" viewBox="0 0 24 24" class="icon" style="transform: rotate(180deg);">
              <path
                clip-rule="evenodd"
                d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zm4.28 10.28a.75.75 0 000-1.06l-3-3a.75.75 0 10-1.06 1.06l1.72 1.72H8.25a.75.75 0 000 1.5h5.69l-1.72 1.72a.75.75 0 101.06 1.06l3-3z"
                fill-rule="evenodd"
              ></path>
            </svg>
            Sign In
          </button>
        </div>

        <div class="toggle-panel toggle-right">
          <h1>Hello, Farmer!</h1>
          <p>Register with your personal details to use all of site features</p>
          <button class="button" type="button" (click)="toggleActive()">
            Sign Up
            <svg fill="currentColor" viewBox="0 0 24 24" class="icon">
              <path
                clip-rule="evenodd"
                d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zm4.28 10.28a.75.75 0 000-1.06l-3-3a.75.75 0 10-1.06 1.06l1.72 1.72H8.25a.75.75 0 000 1.5h5.69l-1.72 1.72a.75.75 0 101.06 1.06l3-3z"
                fill-rule="evenodd"
              ></path>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer-home></app-footer-home>
