<app-toolbar-farm></app-toolbar-farm>
  <div class="container">
    <input type="text" (input)="filterFarmsByLocation($event)" placeholder="Filter by location">

    <div class="farms-container">
      <mat-card class="card" *ngFor="let farm of farms" (click)="navigateToDescriptions(farm.id)">
        <div class="card-details">
          <div class="image-section">
            <img *ngIf="farm.images.startsWith('data:image')" mat-card-image [src]="farm.images" alt="Farm Image" class="farm-image" >
          </div>
          <hr>
          <div class="info-section">
            <h2 class="text-title">{{  'home.title' | translate  }} {{  farm.name  }}</h2>
            <p class="text-body">
              <img width="20" height="20" src="/assets/map-marker-icon.png" alt="Ubication"/>
              {{ farm.ubication }}, Lima
            </p>
            <p class="text-body">
              <img width="20" height="20" src="/assets/chicken-icon.png" alt="Product"/>
              {{ farm.product }}
            </p>
            <p class="text-body">
              <img width="20" height="20" src="/assets/surface-icon.png" alt="Surface"/>
              {{ farm.totalSurface }} ha
            </p>
            <p class="text-body">
              <img width="20" height="20" src="/assets/price-icon.png" alt="Price"/>
              $ {{ farm.price | number }}
            </p>
            <hr>

            <div class="form-group highlight-list-center">

            <ul class="highlight-list">
              <li *ngIf="farm.highlight1">{{ farm.highlight1 }}</li>
              <li *ngIf="farm.highlight1">{{ farm.highlight2 }}</li>
              <li *ngIf="farm.highlight1">{{ farm.highlight3 }}</li>
            </ul>
          </div>
          </div>

        </div>
      </mat-card>
    </div>
</div>
