<app-toolbar-farm></app-toolbar-farm>

<div class="main-container">

  <div class="section-search">
    <input type="text" placeholder="Product">
    <input type="text" placeholder="Ubication">
    <button class="choose-plan-btn">Search</button>
  </div>

  <div class="container" *ngIf="farms.length >=0">
    <h1>Featured Farms:</h1>
    <div class="farms-container">
      <mat-card class="card" *ngFor="let farm of farms" (click)="navigateToDescriptions(farm.id)">
        <div class="card-details">
          <div *ngFor="let image of farm.images">
            <img mat-card-image [src]="image" alt="Farm image" class="farm-image">
          </div>
          <h2 class="text-title">Farm {{ farm.name }}</h2>
          <p class="text-body">
            <img width="20" height="20" src="https://img.icons8.com/3d-fluency/94/map-marker--v1.png" alt="Ubication"/>
            {{ farm.ubication }}, Lima
          </p>
          <p class="text-body">
            <img width="20" height="20" src="https://img.icons8.com/3d-fluency/94/chicken.png" alt="Product"/>
            {{ farm.product }}
          </p>
          <p class="text-body">
            <img width="20" height="20" src="https://img.icons8.com/3d-fluency/94/3d-fluency-farm.png" alt="Surface"/>
            {{ farm.totalSurface }} ha
          </p>
          <p class="text-body">
            <img width="20" height="20" src="https://img.icons8.com/arcade/64/price-tag-usd.png" alt="Price"/>
            $ {{ farm.price | number }}
          </p>
          <hr>
          <ul class="highlight-list">
            <li *ngIf="farm.highlight1">{{ farm.highlight1 }}</li>
            <li *ngIf="farm.highlight2">{{ farm.highlight2 }}</li>
            <li *ngIf="farm.highlight3">{{ farm.highlight3 }}</li>
          </ul>
        </div>
      </mat-card>
    </div>
  </div>
</div>


<app-footer-home></app-footer-home>
