.container-app {
  display: flex;
  justify-content: center;
  align-items: center;
}

.half-page-app {
  justify-content: center;
  align-items: center;
  padding: 50px;

}

.line {
  width: 90%;
  height: 1px;
  background-color: black;
  margin: 0 auto;
}
