<app-toolbar-farm/>
<div class="main-container">
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav mode="side" opened>
      <mat-nav-list>
        <mat-toolbar>Shed</mat-toolbar>
        <a mat-list-item routerLink="/monitoring/add-sheds">ADD SHED</a>
        <a mat-list-item routerLink="/monitoring/list-sheds">LIST SHEDS</a>
        <mat-divider></mat-divider>
        <mat-toolbar>Animals</mat-toolbar>
        <a mat-list-item routerLink="/monitoring/add-animals">ADD ANIMALS</a>
        <a mat-list-item routerLink="/monitoring/animal-inventory">ANIMAL INVENTORY</a>
        <a mat-list-item routerLink="/monitoring/feeding-record">FEEDING RECORD</a>
        <mat-toolbar>Crops</mat-toolbar>
        <a mat-list-item routerLink="/monitoring/cultivation-record">CULTIVATION RECORD</a>
        <a mat-list-item routerLink="/monitoring/crop-inventory">CROP INVENTORY</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <form (ngSubmit)="saveCrop()">
        <div class="content-container">
          <div class="form-container">
            <div class="title-container">
              <h2 class="title-add">CULTIVATION RECORD</h2>
            </div>
            <div class="form-group">
              <label>Shed</label>
              <select [(ngModel)]="crop.shed" class="form-field" name="shed" required>
                <option value="Shed 1" selected>Shed 1</option>
                <option value="Shed 2">Shed 2</option>
                <option value="Shed 3">Shed 3</option>
              </select>
            </div>
            <div class="form-group">
              <label>Type of Crop</label>
              <input [(ngModel)]="crop.typeCrop" type="text" class="form-field" name="typeCrop" required>
            </div>
            <div class="form-group">
              <label>Sowing Date</label>
              <input [(ngModel)]="crop.sowingDate" type="date" class="form-field" name="sowingDate" required>
            </div>
            <div class="button-container">
              <button type="submit">Save</button>
            </div>
          </div>
        </div>
      </form>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
