body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
}

.container {
  width: 60%;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: white;
}

.title {
  text-align: center;
  color: #205341;
  font-size: 2em; /* Incrementa el tamaño de la fuente */
  margin-top: 30px;
  font-weight: bold; /* Asegura que el texto sea negrita */
}

.form-row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  gap: 20px; /* Ajusta el valor según el espacio que desees entre los elementos */
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  margin-bottom: 5px;
}

.form-group select,
.form-group input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 200px;
}

.task-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.task-table th,
.task-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.task-table th {
  background-color: #f4f4f4;
  color: #333;
}

/* Responsive Design */
@media (max-width: 768px) {
  .container {
    width: 80%;
  }

  .form-row {
    flex-direction: column;
  }

  .form-group select,
  .form-group input {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .container {
    width: 95%;
  }

  .title {
    font-size: 1.5em;
  }
}
