<div class="container">
  <div class="review-section">
    <strong class="label-valoration">{{ 'starRating.customerReviews' | translate }}</strong>
    <div class="star-rating-container">
      <mat-icon *ngFor="let icon of maxRatingArr; let index=index"
                (mouseenter)="HandleMouseEnter(index)"
                (mouseleave)="HandleMouseLeave()"
                (click)="Rating(index)"
                [ngClass]="{checked:SelectedStar > index || hasRated, 'star-rated': hasRated}"
                class="star-rating-icon">
        {{ SelectedStar > index || hasRated ? 'star' : 'star_border' }}
      </mat-icon>
    </div>
  </div>

  <div class="ratings-section">
    <div class="rating-bar" *ngFor="let rating of [5, 4, 3, 2, 1]">
      <label class="label-bars">{{ rating }} <mat-icon>star</mat-icon>:</label>
      <div class="bar-container">
        <div class="bar" [style.width.%]="(ratings[rating] / totalRatings) * 100"></div>
        <span class="bar-label">{{ ratings[rating] }}</span>
      </div>
    </div>
  </div>
  <div class="space"></div>
  <app-contact-card></app-contact-card>
</div>
