<table mat-table [dataSource]="profitabilityDataSource" class="profitability-table">
  <ng-container matColumnDef="product">
    <th mat-header-cell *matHeaderCellDef>Product/Area</th>
    <td mat-cell *matCellDef="let profitability">{{ profitability.product }}</td>
  </ng-container>
  <ng-container matColumnDef="margen">
    <th mat-header-cell *matHeaderCellDef>Profit margin</th>
    <td mat-cell *matCellDef="let profitability">{{ profitability.margin | percent }}</td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="profitabilityColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: profitabilityColumns;"></tr>
</table>
