<div class="payment-container">
  <mat-card class="payment-card">
    <mat-card-content>
      <h2 class="title-details">Card Details</h2>
      <div class="input-group">
        <mat-form-field>
          <input matInput placeholder="Card Number" aria-label="Card Number">
        </mat-form-field>
      </div>

      <div class="input-group">
        <mat-form-field>
          <input matInput placeholder="MM/YY" aria-label="MM/YY">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="CVV" aria-label="CVV">
        </mat-form-field>
      </div>

      <div class="input-group">
        <mat-form-field>
          <input matInput placeholder="Email Address" aria-label="Email Address">
        </mat-form-field>
      </div>
    </mat-card-content>
  </mat-card>
  <div class="qr-code-container">
    <h2 class="text-pay">PAY FASTER</h2>
    <h3 class="description-qr">Scan this QR with your bank's e-wallet</h3>
    <img src="../../../../assets/qr-logo.png" alt="QR Code">
  </div>
</div>

