<mat-card>
  <mat-card-header>
    <mat-card-title style="font-weight: bold">¡Contáctanos hoy mismo y juntos hagamos crecer tu proyecto agrícola!</mat-card-title>
  </mat-card-header>
  <!--<img mat-card-image src="ruta_a_tu_imagen" alt="Imagen descriptiva">-->
  <mat-card-content>
    <p>
      <mat-card-actions>
        <button mat-raised-button class="whatsapp-button" style="font-size: 20px"><mat-icon style="font-size: 21px">message</mat-icon> Conversar por WhatsApp</button>
      </mat-card-actions>
    </p>

    <form>
      <div class="input-group">
        <label for="nombre">Nombre</label>
        <input type="text" id="nombre" name="nombre">
      </div>

      <div class="input-group">
        <label for="apellido">Apellido</label>
        <input type="text" id="apellido" name="apellido">
      </div>

      <div class="input-group">
        <label for="email">Correo</label>
        <input type="text" id="email" name="email">
      </div>

      <div class="input-group">
        <label for="telefono">Telefono</label>
        <input type="text" id="telefono" name="telefono">
      </div>

      <div class="input-group">
        <label for="mensaje">Mensaje</label>
        <input type="text" id="mensaje" name="mensaje">
      </div>

    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button id="submitBtn" class="submit-button">SUBMIT</button>
  </mat-card-actions>
</mat-card>
