mat-card {
  max-width: 500px;
  margin: 2em auto;
  text-align: inherit;
  border: 1px solid #186002;
  border-radius: 10px;
}

mat-card-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

mat-card-content p {
  width: 100%;
  margin-top: 10px;

}

