<div class="add-employee-container">
  <form (ngSubmit)="saveEmployee()" class="form">
    <p class="title">Add Employee</p>
    <div class="flex">
      <label class="floating-label">
        <p>Name</p>
        <input [(ngModel)]="employee.name" name="name" placeholder=" " required class="input">
      </label>
      <label class="floating-label">
        <p>Username</p>
        <input [(ngModel)]="employee.username" name="username" placeholder=" " required type="email" class="input">
      </label>
      <label class="floating-label">
        <p>Phone</p>
        <input [(ngModel)]="employee.phone" name="phone" placeholder=" " required class="input">
      </label>
      <label class="floating-label">
        <p>Password</p>
        <input [(ngModel)]="employee.password" name="password" required class="input" type="password">
      </label>
      <label class="floating-label">
        <p>Position</p>
        <input [(ngModel)]="employee.position" name="position" required class="input">
      </label>
    </div>
    <button type="submit" class="submit">Save</button>
    <a class="cancel-button" [routerLink]="['/employee']">Cancelar</a>
  </form>
</div>
