<div *ngIf="selectedFarm">
  <mat-card class="card">
    <img mat-card-image [src]="selectedFarm['farm-img']" [alt]="'descriptionCard.farmImageAlt' | translate" class="farm-image">
    <mat-card-content>
      <h2>{{ selectedFarm['farm-name'] }}</h2>
      <p>{{ selectedFarm.location }}</p>
      <p>{{ selectedFarm['type-farm'] }}</p>
      <p>{{ selectedFarm['farm-hectares'] }}</p>
      <p>{{ selectedFarm['farm-price'] }}</p>
    </mat-card-content>
    <div class="farm-info">
      <span>{{ 'descriptionCard.granaries' | translate: {count: selectedFarm['granaries']} }}</span>
      <span>{{ 'descriptionCard.corrals' | translate: {count: selectedFarm['corrals']} }}</span>
      <span>{{ selectedFarm['water'] }}</span>
    </div>
  </mat-card>
</div>
