
<div *ngIf="selectedFarm">
  <mat-card class="card">
    <img mat-card-image [src]="selectedFarm['farm-img']" alt="Imagen de la granja" class="farm-image">
    <mat-card-content>
      <h2>{{ selectedFarm['farm-name'] }}</h2>
      <p>{{ selectedFarm.location }}</p>
      <p>{{ selectedFarm['type-farm'] }}</p>
      <p>{{ selectedFarm['farm-hectares'] }}</p>
      <p>{{ selectedFarm['farm-price'] }}</p>
    </mat-card-content>
    <div class="farm-info">
      <span>{{ selectedFarm['granaries'] }} Graneros</span>
      <span>{{ selectedFarm['corrals'] }} corrales</span>
      <span>{{ selectedFarm['water'] }}</span>
    </div>
  </mat-card>
</div>


<mat-card>
  <mat-card-content>
    <p>
      <strong>Ubicacion:</strong> Situada en Asia
    </p>
    <p>
      <strong>Tipo de Granja:</strong> Avicola
    </p>
    <p>
      <strong>Superficie Total:</strong> 50 hectáreas
    </p>
    <p>
      <strong>Animales:</strong> Pollo
    </p>
    <p>
      <strong>Infraestructura:</strong> 10 galpones, 1 almacén
    </p>
    <p>
      <strong>Servicios:</strong> Energía eléctrica, agua potable, acceso vehicular
    </p>
    <p>
      <strong>Estado:</strong> Operativa
    </p>
    <p>
      <strong>Certificaciones:</strong> ISO 22000, BPA, HACCP
    </p>
  </mat-card-content>
</mat-card>
