<app-toolbar-farm></app-toolbar-farm>
<button (click)="goBackHome()">Back to Home</button>
<!-- Contenido para 'farmer' -->
<div *ngIf="currentProfile && currentProfile.role === 'farmer'">
  <div class="container-app">
    <div class="full-page-app">
      <h2 class="title-description">About farm & Description</h2>

      <div class="container" *ngIf="farm">
        <mat-card class="card">
          <div class="card-content">
            <div class="image-section">
              <div *ngFor="let image of farm.images">
                <img mat-card-image [src]="image" alt="Farm image" class="farm-image">
              </div>
            </div>
            <div class="info-section">
              <h2>Farm {{ farm.name }}</h2>
              <p>
                <img width="20" height="20" src="/assets/map-marker-icon.png" alt="Ubication" />
                {{ farm.ubication }}, Lima
              </p>
              <p>
                <img width="20" height="20" src="/assets/chicken-icon.png" alt="Product" />
                {{ farm.product }}
              </p>
              <p>
                <img width="20" height="20" src="/assets/surface-icon.png" alt="Surface" />
                {{ farm.totalSurface }} ha
              </p>
              <p>
                <img width="20" height="20" src="/assets/price-icon.png" alt="Price" />
                $ {{ farm.price | number }}
              </p>

              <hr>

              <ul class="highlight-list">
                <li *ngIf="farm.highlight1">{{ farm.highlight1 }}</li>
                <li *ngIf="farm.highlight2">{{ farm.highlight2 }}</li>
                <li *ngIf="farm.highlight3">{{ farm.highlight3 }}</li>
              </ul>

              <hr>

              <p>Ubication: {{ farm.ubication }}</p>
              <p>Infrastructure: {{ farm.infrastructure }}</p>
              <p>Type of farm: {{ farm.farmType }}</p>
              <p>Product: {{ farm.product }}</p>
              <p>Total surface: {{ farm.totalSurface }}</p>
              <p>Service: {{ farm.service }}</p>
              <p>Certifications: {{ farm.certifications }}</p>
              <p>Price: $ {{ farm.price | number }}</p>
            </div>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
  <div class="footer-spacer"></div>
  <app-footer/>
</div>

<!-- Contenido para 'businessOwner' -->
<div *ngIf="currentProfile && currentProfile.role === 'businessOwner'">
  <div class="container-app">
    <div class="full-page-app">
      <h2 class="title-description">About farm & Description</h2>

      <div class="container" *ngIf="farm">
        <mat-card class="card">
          <div class="card-content">
            <div class="image-section">
              <div *ngFor="let image of farm.images">
                <img mat-card-image [src]="image" alt="Farm image" class="farm-image">
              </div>
            </div>
            <div class="info-section">
              <h2>Farm {{ farm.name }}</h2>
              <p>
                <img width="20" height="20" src="/assets/map-marker-icon.png" alt="Ubication" />
                {{ farm.ubication }}, Lima
              </p>
              <p>
                <img width="20" height="20" src="/assets/chicken-icon.png" alt="Product" />
                {{ farm.product }}
              </p>
              <p>
                <img width="20" height="20" src="/assets/surface-icon.png" alt="Surface" />
                {{ farm.totalSurface }} ha
              </p>
              <p>
                <img width="20" height="20" src="/assets/price-icon.png" alt="Price" />
                $ {{ farm.price | number }}
              </p>


              <hr>

              <ul class="highlight-list">
                <li *ngIf="farm.highlight1">{{ farm.highlight1 }}</li>
                <li *ngIf="farm.highlight2">{{ farm.highlight2 }}</li>
                <li *ngIf="farm.highlight3">{{ farm.highlight3 }}</li>
              </ul>

              <hr>
              <p>Ubication: {{ farm.ubication }}</p>
              <p>Infrastructure: {{ farm.infrastructure }}</p>
              <p>Type of farm: {{ farm.farmType }}</p>
              <p>Product: {{ farm.product }}</p>
              <p>Total surface: {{ farm.totalSurface }}</p>
              <p>Service: {{ farm.service }}</p>
              <p>Certifications: {{ farm.certifications }}</p>
              <p>Price: $ {{ farm.price | number }}</p>
            </div>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
  <app-star-rating></app-star-rating>
  <app-contact-card></app-contact-card>
  <div class="footer-spacer"></div>
  <app-footer/>
</div>

<!-- Contenido para 'undefined' -->
<div *ngIf="!currentProfile || !currentProfile.role">
  <div class="container-app">
    <div class="full-page-app">
      <h2 class="title-description">About farm & Description</h2>

      <div class="container" *ngIf="farm">
        <mat-card class="card">
            <div class="card-content">
              <div class="image-section">
                <div *ngFor="let image of farm.images">
                  <img mat-card-image [src]="image" alt="Farm image" class="farm-image">
                </div>
              </div>
              <div class="info-section">
                <h2>Farm {{ farm.name }}</h2>
                <p>
                  <img width="20" height="20" src="/assets/map-marker-icon.png" alt="Ubication" />
                  {{ farm.ubication }}, Lima
                </p>
                <p>
                  <img width="20" height="20" src="/assets/chicken-icon.png" alt="Product" />
                  {{ farm.product }}
                </p>
                <p>
                  <img width="20" height="20" src="/assets/surface-icon.png" alt="Surface" />
                  {{ farm.totalSurface }} ha
                </p>
                <p>
                  <img width="20" height="20" src="/assets/price-icon.png" alt="Price" />
                  $ {{ farm.price | number }}
                </p>


                <hr>

                <ul class="highlight-list">
                  <li *ngIf="farm.highlight1">{{ farm.highlight1 }}</li>
                  <li *ngIf="farm.highlight2">{{ farm.highlight2 }}</li>
                  <li *ngIf="farm.highlight3">{{ farm.highlight3 }}</li>
                </ul>

                <hr>
                <p>Ubication: {{ farm.ubication }}</p>
                <p>Infrastructure: {{ farm.infrastructure }}</p>
                <p>Type of farm: {{ farm.farmType }}</p>
                <p>Product: {{ farm.product }}</p>
                <p>Total surface: {{ farm.totalSurface }}</p>
                <p>Service: {{ farm.service }}</p>
                <p>Certifications: {{ farm.certifications }}</p>
                <p>Price: $ {{ farm.price | number }}</p>
              </div>
            </div>
        </mat-card>
      </div>
    </div>
  </div>
  <div class="footer-spacer"></div>
  <app-footer-home></app-footer-home>
</div>
