<app-toolbar-colaborator-component></app-toolbar-colaborator-component>
<body>
<main>
  <h1>Task realizadas</h1>
  <div class="filters">
    <div class="form-group">
      <label for="employee">Employee:</label>
      <select id="employee" class="form-field">
        <option value="Rodrigo Kunimoto">Rodrigo Kunimoto</option>
      </select>
    </div>
    <div class="form-group">
      <label for="date">Desde:</label>
      <input type="date" id="date" value="2024-03-29" class="form-field">
    </div>
  </div>
  <table>
    <thead>
    <tr>
      <th>ID</th>
      <th>Employee</th>
      <th>Tiempo en realizar</th>
      <th>Fecha</th>
      <th>Estado</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>#1</td>
      <td>Rodrigo Kunimoto</td>
      <td>3 Horas</td>
      <td>29/03/2024</td>
      <td>Finalizado</td>
    </tr>
    </tbody>
  </table>
</main>
</body>
